<div class='columns'>
  <div class='column col-4'><%= f.input :street %></div>
  <div class='column col-4'><%= f.input :number %></div>
  <div class='column col-4'><%= f.input :zip_code %></div>
</div>
<br />