<%= render partial: 'form_fields', locals: { f: f } %>

<div>
  <h3>Pets fields</h3>
  <%= f.simple_fields_for :pets do |fp| %>
    <%= fp.input :name %>
    <%= fp.input :species %>
    <br />
  <% end %>
</div>
