<%= render partial: 'form_fields', locals: { f: f } %>

<div>
  <h3>Pets fields</h3>
  <%= f.simple_fields_for :pets do |fp| %>
    <%= render partial: 'pet_fields', locals: { f: fp } %>
    <br />
  <% end %>
  <%= button_tag 'Add pet', type: 'submit', name: 'commit', value: 'add_pet' %>
</div>
