<div class='columns'>
  <div class='column col-5'><%= f.input :name %></div>
  <div class='column col-5'><%= f.input :species %></div>
  <div class='column col-2'>
    <% if params[:dynamic_form] == '1' %>
      <%= link_to_remove_nested(f, link_text: "Destroy", fields_wrapper_selector: '.columns') %>
    <% else %>
      <% if f.object.persisted? %>
        <%= f.input :_destroy, as: :boolean, label: 'Destroy' %>
      <% end %>
    <% end %>
  </div>
</div>
