<h1>New User with nested Pets (variable amount)</h1>

<p>
  This forms shows how to handle a one-to-many association to create all the objects at the same time.
</p>

<%= simple_form_for @user, url: url_for(action: :create_with_variable_pets), html: {class: 'user_form_with_pets'} do |f| %>
  <fieldset>
    <%= render partial: 'form_fields_with_variable_pets', locals: { f: f } %>
  </fieldset>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>